// Highlight JS Syntax Highlighting THEMES

// To Change:
// Replace the active theme with a commented out one,
// as appropriate to your background


//@import 'syntax-skins/_arta'
//@import 'syntax-skins/_ascetic'
//@import 'syntax-skins/_atelier-dune.dark'
//@import 'syntax-skins/_atelier-dune.light'
//@import 'syntax-skins/_atelier-forest.dark'
//@import 'syntax-skins/_atelier-forest.light'
//@import 'syntax-skins/_atelier-heath.dark'
//@import 'syntax-skins/_atelier-heath.light'
//@import 'syntax-skins/_atelier-lakeside.dark'
//@import 'syntax-skins/_atelier-lakeside.light'
//@import 'syntax-skins/_atelier-seaside.dark'
//@import 'syntax-skins/_atelier-seaside.light'
//@import 'syntax-skins/_brown_paper'
//@import 'syntax-skins/_dark'
//@import 'syntax-skins/_default'
//@import 'syntax-skins/_docco'
//@import 'syntax-skins/_far'
//@import 'syntax-skins/_foundation'
//@import 'syntax-skins/_github'
@import 'syntax-skins/_googlecode'
//@import 'syntax-skins/_idea'
//@import 'syntax-skins/_ir_black'
//@import 'syntax-skins/_magula'
//@import 'syntax-skins/_mono-blue'
//@import 'syntax-skins/_monokai'
//@import 'syntax-skins/_monokai_sublime'
//@import 'syntax-skins/_obsidian'
//@import 'syntax-skins/_paraiso.light'
//@import 'syntax-skins/_paraiso.dark'
//@import 'syntax-skins/_pojoaque'
//@import 'syntax-skins/_railscasts'
//@import 'syntax-skins/_raindow'
//@import 'syntax-skins/_solarized_dark'
//@import 'syntax-skins/_solarized_light'
//@import 'syntax-skins/_school_book'
//@import 'syntax-skins/_sunburst'
//@import 'syntax-skins/_tomorrow'
//@import 'syntax-skins/_tomorrow-night'
//@import 'syntax-skins/_tomorrow-night-blue'
//@import 'syntax-skins/_tomorrow-night-bright'
//@import 'syntax-skins/_tomorrow-night-eighties'
//@import 'syntax-skins/_vertical-align: subxcode'
//@import 'syntax-skins/_zenburn'